
/* ******************************************************************
GENERAL
******************************************************************* */
* {
	outline: none;
}

.wrap {
	width: 90%;
	max-width: 1100px;
	margin: 0 auto;
}

.off-canvas-wrapper {
	background-color: #222;
}

/* ******************************************************************
NAV - MOBILE
******************************************************************* */

.title-bar {
	background-color: #222;
	height: 60px;
	padding-top: 17px;
}

#mobile-menu {
	background-color: #222;
	padding: 10px;
}

#mobile-menu li {
	list-style: none;
}

#mobile-menu a {
	color: rgba(255,255,255,0.6);
	font-weight: bold;
	line-height: 2;
}

#mobile-menu a:hover {
	color: rgba(255,255,255,0.8);
}

.js-off-canvas-exit {
	background: rgba(0,0,0,0.5);
}

/* ******************************************************************
NAV - DESKTOP
******************************************************************* */

.concentration {
	color: white;
	font-style: italic;
	font-size: 20px;
}

.nav-desktop {
	background-color: #222;
	height: 80px;
	padding: 0;
}

.site-logo {
	color: white;
	line-height: 0px;
	margin-top: 15px;
}

.nav-desktop .menu {
	line-height: 80px;
	background-color: transparent;
}

.menu > li > a {
	display: inline-block;
	line-height: 80px;
	padding-bottom: 0;
	padding-top: 0;
	color: white;
}

.menu > li > a:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

/* ******************************************************************
HERO
******************************************************************* */

.hero {
	background-color: #999;
	padding: 80px 0px;
	height: auto;
	background-image: url("../images/stardust.png");
}

.hero h1 {
	color: rgba(255, 255, 255, 0.8);
	max-width: 70%;
}

.wrap p {
	color: rgba(255, 255, 255, 0.8);
	max-width: 70%;
}

.button.success {
	background-color: purple;
}

h3 {

	font-weight: bold;
	color: #868;
	margin-bottom: 3px;
}

div {

	text-align: justify;
	text-justify: inter-word;
	padding-right: 20px;
}

/* ******************************************************************
MAIN SECTION
******************************************************************* */
.main {
	padding: 80px 0px;
	color: rgba(255,255,255,0.8);
}

.resume-portfolio h4 {
	color: red;
}

.img-responsive {
	width: 100%;
	height: auto;
}

.float-left {
	float: left;
	clear: both;
}

.float-right {
	float: left;
	clear: both;
	margin-top: -1200px;
}

div {

	text-align: justify;
	text-justify: inter-word;
	padding-right: 5px;
}

figcaption {

	font-weight: bold;
}

label {
	color: rgba(255,255,255,0.8);
}


/* ******************************************************************
FOOTER
******************************************************************* */

.footer {
	background-color: #222;
	padding: 80px 0px;
}

.column h4 {
	color: rgba(255, 255, 255, 0.8);
	font-size: 1.3em;
}

.column hr {
	border-color: rgba(255, 255, 255, 0.6);
	margin: 10px 0;
}

.column a {
	display: block;
	color: rgba(255, 255, 255, 0.6);
	font-size: 0.8em;
}

.column a {
	display: block;
	color: rgba(255, 255, 255, 0.6);
}

.column a span {
	font-weight: bold;
	color: rgba(255, 255, 255, 0.3);
}

.column > a:hover {
	background-color: rgba(255, 255, 255, 0.1);
}


/* ******************************************************************
MEDIA QUERY
******************************************************************* */

@media (max-width: 639px) {
	
	.nav-desktop {
		display: none;
	}
}

@media (max-width: 875px) {
	
	.hero h1 {
		width: 100%;
	}
	.wrap p {
		width: 100%;
	}
}

@media only screen and (max-width: 64.063em) {

	.a.main-post-title, a.sub-post-title {
		font-size: $main-titles-size-m;
		line-height: $main-title-leading;
	}

	.sub-post {
		text-align: center;
	}

	.sub-thumb {
		margin: 0 auto $main-padding  auto;
	}

}

@media only screen and (max-width: 40em) {

	.main-post {
		text-align: center;
		margin-bottom: $main-padding;
	}

	p {
		font-size: 1em;
	}

	.menu-icon {
		display: inline;
	}

	.trigger {
		display: none;
		width: 100%;
		margin-top: $main-padding;
	}

	nav {
		display: block;
		clear: both;
		width: 100%;
		text-align: right;
		margin-top: -45px;
	}

	.trigger a {
		display: block;
		width: 100%;
		border-bottom: 1px solid $footer-color;
		margin-right: $main-padding;
		padding: $main-padding / 2 0;
		text-align: left;
	}

}

@media only screen and (min-width: 40em) {
	.trigger {
		display: block !important;
	}
}









