@charset "utf-8";
/* CSS Document */

img{	
display:block;
}

.scrollup {	
    width:40px;
    height:40px;
    opacity:0.5;
    position:fixed;
    bottom:50px;
    right:100px;
    display:none;
    text-indent:-9999px;
    background: url(images/scrolltop.png) no-repeat;
}


