
/* ******************************************************************
GENERAL
******************************************************************* */
* {
	outline: none;
	font-size: x-large;
}

@charset "utf-8";
/* CSS Document */

img{	
display:block;
}

html {
	-webkit-text size adjust: 100%;
	-ms-text-size-adjust: 100%;
	font-size: 100%;
}
.wrap {
	width: 100%;
	margin: 0 auto;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-family: 'Raleway', sans-serif;
	font-size:  80%;
	background-color: rgba(0,0,0,0.7);
}

.off-canvas-wrapper {
	background-color: #fff;
}

.welcome-box {
	@extend .show-for-medium-up;
	@include grid-column(12);
}

.top-banner {
	@include grid-column(12);
}

.top-image {
	@include grid-column(12);
}

#top-bar {
	@extend .hide-for-medium-up;
}

.contacts {
	@include grid-row();
}

.float-right {
	float: right;
	clear: both;
}
/* ******************************************************************
NAV - DESKTOP
******************************************************************* */

 p {
    margin: 0 auto;
    width: 400px;
  }
.menu > li > a:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

.top-bar {
	height: 90px;
	padding-top: 10px;
	padding-left: 10px;
}

.top-bar img {
	margin-top:2px;
	margin-left: 2px;
	margin-bottom: -15px;

}

.top-bar-section .right {
	padding-top: 10px;
}

.top-bar h1 {
	color: rgba(225,225,225,8);
	font-size: 2em;
	display: inline-block;
}

/* ******************************************************************
	MAIN SECTION
******************************************************************* */

.wrap p {
	color: rgba(0,0,0,0.5);
	max-width: 100%;
}

.button.success {
	background-color: purple;
}

h4, h5 {

	font-weight: bold;
	color: #868;
	margin-bottom: 3px;
	text-align: center;
}

div {

	text-align: justify;
	text-justify: inter-word;
	margin-bottom: 10px;
}

.main {
	padding: 80px 0px;
	color: rgba(255,255,255,0.8);
}

.img-responsive {
	width: 100%;
	height: auto;
}

div {

	text-align: left;
	text-justify: inter-word;
}

label {
	color: rgba(255,255,255,0.8);
}


.panel.radius {
    border-radius: 10px;   
}

.panel.radius #float-right span {
	font-size: .5em;
}

.clearfix {
	clear: both;
}

/* ******************************************************************
FOOTER
******************************************************************* */

.footer {
	background-color: #804;
	padding: 20px 0px;
	
}

.column h4 {
	color: rgba(255, 255, 255, 0.8);
	font-size: 1.3em;
}

.column hr {
	border-color: rgba(255, 255, 255, 0.8);
	margin: 10px 0;
}

.column a {
	display: block;
	color: rgba(255, 255, 255, 1);
	font-size: 0.8em;
}

.column a {
	display: block;
	color: rgba(255, 255, 255, 0.9);
}

.column a span {
	font-weight: bold;
	color: rgba(255, 255, 255, 0.9);
}

.column > a:hover {
	background-color: rgba(255, 255, 255, 0.8);
}

.footer-logo {
	margin-top: 9px;
}


/* ******************************************************************
MEDIA QUERY
******************************************************************* */

@media (max-width: 543px) {
	
	.nav-desktop {
		display: none;
	}
}

@media (max-width: 875px) {
	
	.hero h1 {
		width: 100%;
	}
	.wrap p {
		width: 100%;
	}
}
@media screen and (min-width: 490px) {
	.wrap {
		width: 100%;
	}
	.inline-list{
		text-align: left;
	}

}
@media screen and (max-width: 39.9375em) {}
