
#sitemapHost {
    font-size: 12px;
    color:#4a4a4a;
    height: 100%;
}

#sitemapHostBtn a {
    background: url('http://dxlfb468n8ekd.cloudfront.net/gsc/LATDEU/e1/9e/37/e19e37965ff2423b9b040d18aa77e802/plugins/sitemap/styles/images/sitemap_on.png?token=26d22abf321000474a349b459793f0d0');
    background: url('http://d26uhratvi024l.cloudfront.net/gsc/LATDEU/e1/9e/37/e19e37965ff2423b9b040d18aa77e802/plugins/sitemap/styles/images/sitemap_on.svg?token=f2e20d2a1c796f2f171091a0950a4a0e'),linear-gradient(transparent, transparent);
}

.hashover #sitemapHostBtn a:hover {
    background: url('http://dxlfb468n8ekd.cloudfront.net/gsc/LATDEU/e1/9e/37/e19e37965ff2423b9b040d18aa77e802/plugins/sitemap/styles/images/sitemap_hover.png?token=1d2d6e34e62dce749b77fe97fd20a659');
    background: url('http://d2t44wh9rnwl5y.cloudfront.net/gsc/LATDEU/e1/9e/37/e19e37965ff2423b9b040d18aa77e802/plugins/sitemap/styles/images/sitemap_hover.svg?token=b6d5f85fe5126e23c09f419d71bc2837'),linear-gradient(transparent, transparent);
}

#sitemapHostBtn a.selected, #sitemapHostBtn a.selected:hover {
    background: url('http://d2v8ggac1o0f6z.cloudfront.net/gsc/LATDEU/e1/9e/37/e19e37965ff2423b9b040d18aa77e802/plugins/sitemap/styles/images/sitemap_off.png?token=08645e51b6978e7ff6564265a3b233ca');
    background: url('http://d26uhratvi024l.cloudfront.net/gsc/LATDEU/e1/9e/37/e19e37965ff2423b9b040d18aa77e802/plugins/sitemap/styles/images/sitemap_off.svg?token=564e33e283a74acc0f6421bec8b687c9'),linear-gradient(transparent, transparent);
}

#sitemapHost .pageButtonHeader {
    top: -27px;
}

#sitemapTreeContainer {
    overflow: auto;
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}

.sitemapTree {
    margin: 0px 0px 10px 0px;
    overflow:visible;
}

.sitemapTree ul {
    list-style-type: none;
    margin: 0px 0px 0px 0px;
    padding-left: 0px;
}

.sitemapPlusMinusLink 
{
}

.sitemapMinus 
{
	vertical-align:middle;
    background: url('http://d2v8ggac1o0f6z.cloudfront.net/gsc/LATDEU/e1/9e/37/e19e37965ff2423b9b040d18aa77e802/plugins/sitemap/styles/images/minus.gif?token=dc21c9bef6c9337ca111d63ed23dc3ae');
    background-repeat: no-repeat;
	margin-right: 3px;	
	margin-bottom: 1px;
    height:9px;
    width:9px;
    display:inline-block;
}

.sitemapPlus 
{
	vertical-align:middle;
    background: url('http://d2v8ggac1o0f6z.cloudfront.net/gsc/LATDEU/e1/9e/37/e19e37965ff2423b9b040d18aa77e802/plugins/sitemap/styles/images/plus.gif?token=8695a9fb2ff6e6845c454a0e3c446baf');
    background-repeat: no-repeat;
	margin-right: 3px;	
	margin-bottom: 1px;
	height:9px;
    width:9px;
    display:inline-block;
}

.sitemapPageLink 
{
    margin-left: 0px;
}

.sitemapPageIcon 
{
	margin: 0px 0px -3px 4px;
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url('http://d26uhratvi024l.cloudfront.net/gsc/LATDEU/e1/9e/37/e19e37965ff2423b9b040d18aa77e802/plugins/sitemap/styles/images/page.png?token=4fa8785d8df5c8746830e31a589b9c3b') no-repeat center center;
    background: url('http://d26uhratvi024l.cloudfront.net/gsc/LATDEU/e1/9e/37/e19e37965ff2423b9b040d18aa77e802/plugins/sitemap/styles/images/page.svg?token=d73fa503c07a6efc306ee891bcbb1344') no-repeat center center, linear-gradient(transparent,transparent);
}

.sitemapFlowIcon
{
    background: url('http://d26uhratvi024l.cloudfront.net/gsc/LATDEU/e1/9e/37/e19e37965ff2423b9b040d18aa77e802/plugins/sitemap/styles/images/flow.png?token=2088911204cf48a43768e9912e084dfd') no-repeat center center;
    background: url('http://d26uhratvi024l.cloudfront.net/gsc/LATDEU/e1/9e/37/e19e37965ff2423b9b040d18aa77e802/plugins/sitemap/styles/images/flow.svg?token=c0d835f10cece2604209289d6a7b6ac3') no-repeat center center, linear-gradient(transparent,transparent);
}

.sitemapFolderIcon
{
    background: url('http://dxlfb468n8ekd.cloudfront.net/gsc/LATDEU/e1/9e/37/e19e37965ff2423b9b040d18aa77e802/plugins/sitemap/styles/images/folder_closed.png?token=94ff692c838f0222b1ac774d28385abc') no-repeat center center;
    background: url('http://d2t44wh9rnwl5y.cloudfront.net/gsc/LATDEU/e1/9e/37/e19e37965ff2423b9b040d18aa77e802/plugins/sitemap/styles/images/folder_closed.svg?token=4795f8a97e418327c5bacf3e50e83207') no-repeat center center, linear-gradient(transparent,transparent);
}

.sitemapFolderOpenIcon
{
    background: url('http://dxlfb468n8ekd.cloudfront.net/gsc/LATDEU/e1/9e/37/e19e37965ff2423b9b040d18aa77e802/plugins/sitemap/styles/images/folder_open.png?token=d6cda6c597acaf08cb862679e9d503c4') no-repeat center center;
    background: url('http://d2v8ggac1o0f6z.cloudfront.net/gsc/LATDEU/e1/9e/37/e19e37965ff2423b9b040d18aa77e802/plugins/sitemap/styles/images/folder_open.svg?token=b0522218d38cea75058946c3bc1b044e') no-repeat center center, linear-gradient(transparent,transparent);
}

.sitemapPageName 
{
    margin-left: 7px;
}

.sitemapNode 
{
    /*margin:4px 0px 4px 0px;*/
    white-space:nowrap;
}

.sitemapPageLinkContainer {
    /*display: inline-block;*/
    margin-left: 0px;
    padding: 4px 0px 4px 0px;
}
/*
.sitemapNode div
{
	padding-top: 1px; 
	padding-bottom: 3px;
    padding-left: 20px;
	height: 14px;
}
*/

.sitemapExpandableNode 
{
	margin-left: 0px;
}

.sitemapHighlight 
{
    /*display: inline-block;*/
	background-color : #C8E0F0;
    font-weight: bold;
}

.sitemapGreyedName
{
	color: #AAA;
}


.pluginNameHeader
{
    font-family: 'Trebuchet MS';
	font-size: 12px;
    letter-spacing: 1px;
	/*font-weight: bold;*/
	white-space: nowrap;
    margin-bottom: 5px;
}

.pageNameHeader
{
    font-family: 'Trebuchet MS';
    /*display: inline-block;*/
    /*float: left;*/
	font-size: 15px;
	font-weight: bold;
	/*height: 23px;*/
    padding-right: 77px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pageButtonHeader
{
    float: right;
    position: relative;
    /*width: 72px;*/
	height: 24px;
    top: -22px;
    margin-bottom: -24px;
}

.sitemapHeader
{
    padding-top: 27px;
    border-bottom: 1px solid #d9d9d9;
    min-width: 110px;
}

.sitemapToolbar {
    margin: 0px 5px 14px 12px;
}

.sitemapToolbarButton
{
    float: left;
    width: 22px;
    height: 22px;
    border: 1px solid transparent;
}

#linksButton {
    background: url('http://dxlfb468n8ekd.cloudfront.net/gsc/LATDEU/e1/9e/37/e19e37965ff2423b9b040d18aa77e802/plugins/sitemap/styles/images/share.png?token=09f743fe2fd4babc36d6760d915019db') no-repeat center center;
    background: url('http://d2t44wh9rnwl5y.cloudfront.net/gsc/LATDEU/e1/9e/37/e19e37965ff2423b9b040d18aa77e802/plugins/sitemap/styles/images/share.svg?token=4c5467eae5534439b031f5eaa3e1181e') no-repeat center center, linear-gradient(transparent,transparent);
}

#linksButton:hover {
    background: url('http://d2v8ggac1o0f6z.cloudfront.net/gsc/LATDEU/e1/9e/37/e19e37965ff2423b9b040d18aa77e802/plugins/sitemap/styles/images/share_hover.png?token=1834fa29d33a15d90b9f6845127c3087') no-repeat center center;
    background: url('http://d26uhratvi024l.cloudfront.net/gsc/LATDEU/e1/9e/37/e19e37965ff2423b9b040d18aa77e802/plugins/sitemap/styles/images/share_hover.svg?token=5c8d8eca7e3bb8a51af01acd99389bd1') no-repeat center center, linear-gradient(transparent,transparent);
}

#linksButton.sitemapToolbarButtonSelected, .hashover #linksButton.sitemapToolbarButtonSelected:hover {
    background: url('http://d26uhratvi024l.cloudfront.net/gsc/LATDEU/e1/9e/37/e19e37965ff2423b9b040d18aa77e802/plugins/sitemap/styles/images/share_on.png?token=c6b1f9e8717235d2f4aa373aa64cb006') no-repeat center center;
    background: url('http://dxlfb468n8ekd.cloudfront.net/gsc/LATDEU/e1/9e/37/e19e37965ff2423b9b040d18aa77e802/plugins/sitemap/styles/images/share_on.svg?token=0d44d7b9e8c604fb6a3e5acca6bb6fcf') no-repeat center center, linear-gradient(transparent,transparent);
}

#adaptiveButton {
    background: url('http://d2t44wh9rnwl5y.cloudfront.net/gsc/LATDEU/e1/9e/37/e19e37965ff2423b9b040d18aa77e802/plugins/sitemap/styles/images/views.png?token=db3de94a6fcc76fcbd6acfe24b869042') no-repeat center center;
    background: url('http://d26uhratvi024l.cloudfront.net/gsc/LATDEU/e1/9e/37/e19e37965ff2423b9b040d18aa77e802/plugins/sitemap/styles/images/views.svg?token=fa4f828aaa90157b805555d8cee036c5') no-repeat center center, linear-gradient(transparent,transparent);
}

#adaptiveButton:hover {
    background: url('http://d2v8ggac1o0f6z.cloudfront.net/gsc/LATDEU/e1/9e/37/e19e37965ff2423b9b040d18aa77e802/plugins/sitemap/styles/images/views_hover.png?token=04214e913e0b2b3b2e344def25047201') no-repeat center center;
    background: url('http://dxlfb468n8ekd.cloudfront.net/gsc/LATDEU/e1/9e/37/e19e37965ff2423b9b040d18aa77e802/plugins/sitemap/styles/images/views_hover.svg?token=0832d853bacd2dcd72f38c099a5033f3') no-repeat center center, linear-gradient(transparent,transparent);
}

#adaptiveButton.sitemapToolbarButtonSelected, #adaptiveButton.sitemapToolbarButtonSelected:hover {
    background: url('http://d2t44wh9rnwl5y.cloudfront.net/gsc/LATDEU/e1/9e/37/e19e37965ff2423b9b040d18aa77e802/plugins/sitemap/styles/images/views_on.png?token=97b56381fbc69ec1a54cf4ebac08a3ad') no-repeat center center;
    background: url('http://d2t44wh9rnwl5y.cloudfront.net/gsc/LATDEU/e1/9e/37/e19e37965ff2423b9b040d18aa77e802/plugins/sitemap/styles/images/views_on.svg?token=b9f83e778a865f9dfbfeb041af115178') no-repeat center center, linear-gradient(transparent,transparent);
}

#highlightInteractiveButton {
    background: url('http://dxlfb468n8ekd.cloudfront.net/gsc/LATDEU/e1/9e/37/e19e37965ff2423b9b040d18aa77e802/plugins/sitemap/styles/images/hotspots.png?token=28b6f35d44ca64c92c79829227a9dbc6') no-repeat center center;
    background: url('http://d26uhratvi024l.cloudfront.net/gsc/LATDEU/e1/9e/37/e19e37965ff2423b9b040d18aa77e802/plugins/sitemap/styles/images/hotspots.svg?token=7468474144eb1e0d0a2e8bafe1b83a6c') no-repeat center center, linear-gradient(transparent,transparent);
    margin-top: 1px;
}

#highlightInteractiveButton:hover {
    background: url('http://d2v8ggac1o0f6z.cloudfront.net/gsc/LATDEU/e1/9e/37/e19e37965ff2423b9b040d18aa77e802/plugins/sitemap/styles/images/hotspots_hover.png?token=c2b85e4994aa4eeb376eaf03009131a8') no-repeat center center;
    background: url('http://d2v8ggac1o0f6z.cloudfront.net/gsc/LATDEU/e1/9e/37/e19e37965ff2423b9b040d18aa77e802/plugins/sitemap/styles/images/hotspots_hover.svg?token=e4d8fecf1892aa6d83b8c58002beba7c') no-repeat center center, linear-gradient(transparent,transparent);
}

#highlightInteractiveButton.sitemapToolbarButtonSelected, #highlightInteractiveButton.sitemapToolbarButtonSelected:hover {
    background: url('http://d26uhratvi024l.cloudfront.net/gsc/LATDEU/e1/9e/37/e19e37965ff2423b9b040d18aa77e802/plugins/sitemap/styles/images/hotspots_on.png?token=830d03a3dcc999c525a8f685cdb1820d') no-repeat center center;
    background: url('http://d2t44wh9rnwl5y.cloudfront.net/gsc/LATDEU/e1/9e/37/e19e37965ff2423b9b040d18aa77e802/plugins/sitemap/styles/images/hotspots_on.svg?token=7a46353ff1b36819791784f138f8c1c0') no-repeat center center, linear-gradient(transparent,transparent);
}

/*#variablesButton {
    background: url('http://d26uhratvi024l.cloudfront.net/gsc/LATDEU/e1/9e/37/e19e37965ff2423b9b040d18aa77e802/plugins/sitemap/styles/images/229_variables_16.png?token=0adf5861ef2f39813f50aae89307b6c5') no-repeat center center;
}*/

#searchButton {
    background: url('http://d2t44wh9rnwl5y.cloudfront.net/gsc/LATDEU/e1/9e/37/e19e37965ff2423b9b040d18aa77e802/plugins/sitemap/styles/images/232_search_16.png?token=1eb99ac8b03aecb2fa2d122fa0e9221d') no-repeat center center;
}

.sitemapLinkContainer
{
	margin-top: 8px;
	padding-right: 5px;
	/*font-size: 12px;*/
}

.sitemapLinkField 
{
	width: 100%;
	font-size: 12px;
	margin-top: 3px;
    padding: 5px;
}

.sitemapRadioSelected {
    font-weight: bold;
}

.sitemapOptionContainer
{
	margin-top: 8px;
	padding-right: 5px;
	/*font-size: 12px;*/
}

#sitemapOptionsDiv
{
	margin-top: 10px;
	/*margin-left: 16px;*/
}

#viewSelectDiv
{
    padding: 2px 0px 0px 0px;
	/*margin-left: 5px;*/
}

#viewSelect
{
	width: 70%;
}

.sitemapUrlOption
{
	padding-bottom: 8px;
}

.optionLabel
{
	font-size: 12px;
}

.sitemapPopupContainer
{
    display: none;
    position: absolute;
	background-color: #F4F4F4;
	border: 1px solid #B9B9B9;
	padding: 5px 5px 5px 5px;
	margin: 5px 0px 0px 5px;
    z-index: 1;
}

#sitemapLinksContainer {
    border-top: 1px solid #d9d9d9;
    padding: 10px;
    margin-left: 0px;
    /*line-height: 18px;*/
}

#adaptiveViewsContainer {
    border-top: 1px solid #d9d9d9;
    padding: 10px;
    margin-left: 0px;
    line-height: 18px;
}

.adaptiveViewOption
{
	padding: 2px;
}

.adaptiveViewOption:hover
{ 
	background-color: rgb(204,235,248);
	cursor: pointer;
}

.currentAdaptiveView {
    font-weight: bold;
}

.adaptiveCheckboxDiv {
	height: 15px;
	width: 15px;
	float: left;
}

.checkedAdaptive {
	background: url('http://d26uhratvi024l.cloudfront.net/gsc/LATDEU/e1/9e/37/e19e37965ff2423b9b040d18aa77e802/plugins/sitemap/styles/images/adaptivecheck.png?token=857d14800e7ba0ec96f1323f4f50f43e') no-repeat center center;
}

/*#variablesContainer 
{
	max-height: 350px;
	overflow: auto;
}*/

/*#variablesClearLink 
{
	color: #069;
	left: 5px;
}*/

#searchDiv {
    padding: 8px 12px 11px 12px;
}

#searchBox {
    width: 100%;
    border: none;
    border-top: 1px solid #d9d9d9;
    /*border-bottom: 1px solid #d9d9d9;*/
    padding: 5px;
    font-size: 12px;
}

.searchBoxHint 
{
	color: #8f949a;
	/*font-style: italic;*/
}

#sitemapLinksPageName
{
	font-weight: bold;
}

#sitemapOptionsHeader
{
	font-weight: bold;
}