#pageNotesHost {
    font-size: 12px;
    color:#4a4a4a;
    height: 100%;
}

#pageNotesHostBtn a {
    background: url('http://d2v8ggac1o0f6z.cloudfront.net/gsc/LATDEU/e2/b0/f9/e2b0f9ca129f402d9981f5dfc26c2eed/plugins/page_notes/styles/images/notes_on.png?token=e9099fd736f091672f51f7898c9efdd7');
    background: url('http://d26uhratvi024l.cloudfront.net/gsc/LATDEU/e2/b0/f9/e2b0f9ca129f402d9981f5dfc26c2eed/plugins/page_notes/styles/images/notes_on.svg?token=932b4b1573b17c68bec2399b43edc6bc'),linear-gradient(transparent, transparent);
}

.hashover #pageNotesHostBtn a:hover {
    background: url('http://dxlfb468n8ekd.cloudfront.net/gsc/LATDEU/e2/b0/f9/e2b0f9ca129f402d9981f5dfc26c2eed/plugins/page_notes/styles/images/notes_hover.png?token=cb88d8d88827abc7894f0151ab02f188');
    background: url('http://d26uhratvi024l.cloudfront.net/gsc/LATDEU/e2/b0/f9/e2b0f9ca129f402d9981f5dfc26c2eed/plugins/page_notes/styles/images/notes_hover.svg?token=8974e7fbc83557e72fbf2160f1565828'),linear-gradient(transparent, transparent);
}

#pageNotesHostBtn a.selected, #pageNotesHostBtn a.selected:hover {
    background: url('http://dxlfb468n8ekd.cloudfront.net/gsc/LATDEU/e2/b0/f9/e2b0f9ca129f402d9981f5dfc26c2eed/plugins/page_notes/styles/images/notes_off.png?token=d4cf3a0bb891ea1e76c1fd743675b7df');
    background: url('http://d26uhratvi024l.cloudfront.net/gsc/LATDEU/e2/b0/f9/e2b0f9ca129f402d9981f5dfc26c2eed/plugins/page_notes/styles/images/notes_off.svg?token=ed68bb8b12f39daefb648a2c704a4f00'),linear-gradient(transparent, transparent);
}

#footnotesButton {
    background: url('http://d26uhratvi024l.cloudfront.net/gsc/LATDEU/e2/b0/f9/e2b0f9ca129f402d9981f5dfc26c2eed/plugins/page_notes/styles/images/footnotes.png?token=2ed2594badfe02fa9d3b626d007d537f') no-repeat center center;
    background: url('http://dxlfb468n8ekd.cloudfront.net/gsc/LATDEU/e2/b0/f9/e2b0f9ca129f402d9981f5dfc26c2eed/plugins/page_notes/styles/images/footnotes.svg?token=78b8d7d1de2d34cdbdf9778dfe03952a') no-repeat center center,linear-gradient(transparent, transparent);
}

#footnotesButton:hover {
    background: url('http://d2v8ggac1o0f6z.cloudfront.net/gsc/LATDEU/e2/b0/f9/e2b0f9ca129f402d9981f5dfc26c2eed/plugins/page_notes/styles/images/footnotes_hover.png?token=4a144d6e75850df722e037090d06863f') no-repeat center center;
    background: url('http://d2v8ggac1o0f6z.cloudfront.net/gsc/LATDEU/e2/b0/f9/e2b0f9ca129f402d9981f5dfc26c2eed/plugins/page_notes/styles/images/footnotes_hover.svg?token=2d1c627c69484d3369cba948e883da0c') no-repeat center center,linear-gradient(transparent, transparent);
}

#footnotesButton.sitemapToolbarButtonSelected, #footnotesButton.sitemapToolbarButtonSelected:hover {
    background: url('http://d2t44wh9rnwl5y.cloudfront.net/gsc/LATDEU/e2/b0/f9/e2b0f9ca129f402d9981f5dfc26c2eed/plugins/page_notes/styles/images/footnotes_on.png?token=969010d2245d001159c2ab4a6fbd9c29') no-repeat center center;
    background: url('http://d26uhratvi024l.cloudfront.net/gsc/LATDEU/e2/b0/f9/e2b0f9ca129f402d9981f5dfc26c2eed/plugins/page_notes/styles/images/footnotes_on.svg?token=ed9b5178274b016dbc59525c970e5ab1') no-repeat center center,linear-gradient(transparent, transparent);
}

.nextPageButton {
    background: url('http://d26uhratvi024l.cloudfront.net/gsc/LATDEU/e2/b0/f9/e2b0f9ca129f402d9981f5dfc26c2eed/plugins/page_notes/styles/images/forward.png?token=cc0ff5757086d498cbbb20f2acc508ac') no-repeat center center;
    background: url('http://d26uhratvi024l.cloudfront.net/gsc/LATDEU/e2/b0/f9/e2b0f9ca129f402d9981f5dfc26c2eed/plugins/page_notes/styles/images/forward.svg?token=fedf966e5d1f5db3f7894386281a0736') no-repeat center center,linear-gradient(transparent, transparent);    
}

.nextPageButton:hover {
    background: url('http://d2v8ggac1o0f6z.cloudfront.net/gsc/LATDEU/e2/b0/f9/e2b0f9ca129f402d9981f5dfc26c2eed/plugins/page_notes/styles/images/forward_hover.png?token=6b476f583dbf8a297670dba4a0407438') no-repeat center center;
    background: url('http://d2v8ggac1o0f6z.cloudfront.net/gsc/LATDEU/e2/b0/f9/e2b0f9ca129f402d9981f5dfc26c2eed/plugins/page_notes/styles/images/forward_hover.svg?token=40a6e3664677734c502f1ae1f49d1e06') no-repeat center center,linear-gradient(transparent, transparent);    
}

.prevPageButton {
    background: url('http://d26uhratvi024l.cloudfront.net/gsc/LATDEU/e2/b0/f9/e2b0f9ca129f402d9981f5dfc26c2eed/plugins/page_notes/styles/images/back.png?token=5ca7aa46f565fea1dc78607da7f8032c') no-repeat center center;
    background: url('http://d2v8ggac1o0f6z.cloudfront.net/gsc/LATDEU/e2/b0/f9/e2b0f9ca129f402d9981f5dfc26c2eed/plugins/page_notes/styles/images/back.svg?token=f48dfbe1b57861a530b631ee4111dcb0') no-repeat center center,linear-gradient(transparent, transparent);    
}

.prevPageButton:hover {
    background: url('http://d2v8ggac1o0f6z.cloudfront.net/gsc/LATDEU/e2/b0/f9/e2b0f9ca129f402d9981f5dfc26c2eed/plugins/page_notes/styles/images/back_hover.png?token=5fd2f2a9fd046a80ecd5e5f170ad8267') no-repeat center center;
    background: url('http://d26uhratvi024l.cloudfront.net/gsc/LATDEU/e2/b0/f9/e2b0f9ca129f402d9981f5dfc26c2eed/plugins/page_notes/styles/images/back_hover.svg?token=33849c7216002c612674f531f7594b30') no-repeat center center,linear-gradient(transparent, transparent);    
}

#pageNotesScrollContainer 
{
    overflow: auto;
    width: 100%;
    /*height: 100%;*/
    -webkit-overflow-scrolling: touch;
}    

#pageNotesContainer 
{
    /*padding: 10px 10px 10px 12px;*/
}

#pageNotesContent 
{
	overflow: visible;
}

.pageNoteContainer 
{
    padding: 10px;
}

.pageNoteName 
{
    font-family: 'Trebuchet MS';
	font-size: 14px;
    font-weight: bold;
	margin-bottom: 5px;
	/*text-decoration: underline;*/
	white-space: nowrap;
}

.pageNote 
{
    line-height: 21px;
	/*margin-bottom: 20px;*/
}

.widgetNoteContainer {
    padding: 10px;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.widgetNoteContainerSelected {
    background-color: white;
    border-bottom: 1px solid #c2c2c2;
    border-top: 1px solid #c2c2c2;
}

/*.widgetNoteContainer:hover {
    background-color: white;
    //border-bottom: 1px solid #c2c2c2;
    //border-top: 1px solid #c2c2c2;
}*/

.widgetNoteFootnote {
    display: inline-block;
    /*vertical-align: top;
    margin: 2px 5px 10px 0px;
    padding: 1px 6px;
    font-size: 10px;
    color: #ffffff;
    background-color: #0a6cd6;*/
    width: 13px;
    height: 12px;
    padding-top: 1px;
    text-align: center;
    background-color: #138CDD;
    /*-moz-box-shadow: 1px 1px 3px #aaa;
    -webkit-box-shadow: 1px 1px 3px #aaa;
    box-shadow: 1px 1px 3px #aaa;*/
    font-size: 0px;
    margin-right: 8px;
}

div.annnoteline {
    display: inline-block;
    width: 9px;
    height: 1px;
    border-bottom: 1px solid white;
    margin-top: 1px;
}

.widgetNoteLabel {
    display: inline-block;
    vertical-align: top;
    font-family: 'Trebuchet MS';
	font-size: 14px;
    font-weight: bold;
	margin-bottom: 5px;    
}

.noteLink {
    text-decoration: inherit;
    color: inherit;
}

.noteLink:hover {
    background-color: white;
}