
#sitemapHost {
    font-size: 12px;
    color:#4a4a4a;
    height: 100%;
}

#sitemapHostBtn a {
    background: url('http://d2t44wh9rnwl5y.cloudfront.net/gsc/LATDEU/e2/b0/f9/e2b0f9ca129f402d9981f5dfc26c2eed/plugins/sitemap/styles/images/sitemap_on.png?token=60b25c1c21189292893899dd0c283bc2');
    background: url('http://d2t44wh9rnwl5y.cloudfront.net/gsc/LATDEU/e2/b0/f9/e2b0f9ca129f402d9981f5dfc26c2eed/plugins/sitemap/styles/images/sitemap_on.svg?token=e9c3a940ef4151690bc1f7a971b82e13'),linear-gradient(transparent, transparent);
}

.hashover #sitemapHostBtn a:hover {
    background: url('http://d2v8ggac1o0f6z.cloudfront.net/gsc/LATDEU/e2/b0/f9/e2b0f9ca129f402d9981f5dfc26c2eed/plugins/sitemap/styles/images/sitemap_hover.png?token=44a2d3825ef3f86d59f5388a9b40f684');
    background: url('http://dxlfb468n8ekd.cloudfront.net/gsc/LATDEU/e2/b0/f9/e2b0f9ca129f402d9981f5dfc26c2eed/plugins/sitemap/styles/images/sitemap_hover.svg?token=47c1bcf09e8e44f84865dc70b36da3f0'),linear-gradient(transparent, transparent);
}

#sitemapHostBtn a.selected, #sitemapHostBtn a.selected:hover {
    background: url('http://d2v8ggac1o0f6z.cloudfront.net/gsc/LATDEU/e2/b0/f9/e2b0f9ca129f402d9981f5dfc26c2eed/plugins/sitemap/styles/images/sitemap_off.png?token=4da8300c591426c4453ec255de09c472');
    background: url('http://dxlfb468n8ekd.cloudfront.net/gsc/LATDEU/e2/b0/f9/e2b0f9ca129f402d9981f5dfc26c2eed/plugins/sitemap/styles/images/sitemap_off.svg?token=4e056bd3a329d83f00c43aa472a365a1'),linear-gradient(transparent, transparent);
}

#sitemapHost .pageButtonHeader {
    top: -27px;
}

#sitemapTreeContainer {
    overflow: auto;
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}

.sitemapTree {
    margin: 0px 0px 10px 0px;
    overflow:visible;
}

.sitemapTree ul {
    list-style-type: none;
    margin: 0px 0px 0px 0px;
    padding-left: 0px;
}

.sitemapPlusMinusLink 
{
}

.sitemapMinus 
{
	vertical-align:middle;
    background: url('http://d2v8ggac1o0f6z.cloudfront.net/gsc/LATDEU/e2/b0/f9/e2b0f9ca129f402d9981f5dfc26c2eed/plugins/sitemap/styles/images/minus.gif?token=2c97e81ce3ddae763cc24f819aa44e41');
    background-repeat: no-repeat;
	margin-right: 3px;	
	margin-bottom: 1px;
    height:9px;
    width:9px;
    display:inline-block;
}

.sitemapPlus 
{
	vertical-align:middle;
    background: url('http://d26uhratvi024l.cloudfront.net/gsc/LATDEU/e2/b0/f9/e2b0f9ca129f402d9981f5dfc26c2eed/plugins/sitemap/styles/images/plus.gif?token=1449c541eb31a9a8d61e78188425d23b');
    background-repeat: no-repeat;
	margin-right: 3px;	
	margin-bottom: 1px;
	height:9px;
    width:9px;
    display:inline-block;
}

.sitemapPageLink 
{
    margin-left: 0px;
}

.sitemapPageIcon 
{
	margin: 0px 0px -3px 4px;
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url('http://d2v8ggac1o0f6z.cloudfront.net/gsc/LATDEU/e2/b0/f9/e2b0f9ca129f402d9981f5dfc26c2eed/plugins/sitemap/styles/images/page.png?token=8f1d60db024d710dc28720d5d6edc038') no-repeat center center;
    background: url('http://d2v8ggac1o0f6z.cloudfront.net/gsc/LATDEU/e2/b0/f9/e2b0f9ca129f402d9981f5dfc26c2eed/plugins/sitemap/styles/images/page.svg?token=fa2249d7ebf6b132351703550d7537b9') no-repeat center center, linear-gradient(transparent,transparent);
}

.sitemapFlowIcon
{
    background: url('http://d2t44wh9rnwl5y.cloudfront.net/gsc/LATDEU/e2/b0/f9/e2b0f9ca129f402d9981f5dfc26c2eed/plugins/sitemap/styles/images/flow.png?token=4627953d06d62e571809ea2edf30ca50') no-repeat center center;
    background: url('http://d2t44wh9rnwl5y.cloudfront.net/gsc/LATDEU/e2/b0/f9/e2b0f9ca129f402d9981f5dfc26c2eed/plugins/sitemap/styles/images/flow.svg?token=304d95ffe6c7b12ed851da277647b553') no-repeat center center, linear-gradient(transparent,transparent);
}

.sitemapFolderIcon
{
    background: url('http://d2v8ggac1o0f6z.cloudfront.net/gsc/LATDEU/e2/b0/f9/e2b0f9ca129f402d9981f5dfc26c2eed/plugins/sitemap/styles/images/folder_closed.png?token=630c1215d2c93c3ec197ee26fac014dd') no-repeat center center;
    background: url('http://dxlfb468n8ekd.cloudfront.net/gsc/LATDEU/e2/b0/f9/e2b0f9ca129f402d9981f5dfc26c2eed/plugins/sitemap/styles/images/folder_closed.svg?token=0a9c4811b8f98cbf386d9f1e6349a7b1') no-repeat center center, linear-gradient(transparent,transparent);
}

.sitemapFolderOpenIcon
{
    background: url('http://dxlfb468n8ekd.cloudfront.net/gsc/LATDEU/e2/b0/f9/e2b0f9ca129f402d9981f5dfc26c2eed/plugins/sitemap/styles/images/folder_open.png?token=997421a11dc0ce0074b49dd5258a703f') no-repeat center center;
    background: url('http://d2v8ggac1o0f6z.cloudfront.net/gsc/LATDEU/e2/b0/f9/e2b0f9ca129f402d9981f5dfc26c2eed/plugins/sitemap/styles/images/folder_open.svg?token=e5c0e03cbee6957e0cdcbf05c42c32fe') no-repeat center center, linear-gradient(transparent,transparent);
}

.sitemapPageName 
{
    margin-left: 7px;
}

.sitemapNode 
{
    /*margin:4px 0px 4px 0px;*/
    white-space:nowrap;
}

.sitemapPageLinkContainer {
    /*display: inline-block;*/
    margin-left: 0px;
    padding: 4px 0px 4px 0px;
}
/*
.sitemapNode div
{
	padding-top: 1px; 
	padding-bottom: 3px;
    padding-left: 20px;
	height: 14px;
}
*/

.sitemapExpandableNode 
{
	margin-left: 0px;
}

.sitemapHighlight 
{
    /*display: inline-block;*/
	background-color : #C8E0F0;
    font-weight: bold;
}

.sitemapGreyedName
{
	color: #AAA;
}


.pluginNameHeader
{
    font-family: 'Trebuchet MS';
	font-size: 12px;
    letter-spacing: 1px;
	/*font-weight: bold;*/
	white-space: nowrap;
    margin-bottom: 5px;
}

.pageNameHeader
{
    font-family: 'Trebuchet MS';
    /*display: inline-block;*/
    /*float: left;*/
	font-size: 15px;
	font-weight: bold;
	/*height: 23px;*/
    padding-right: 77px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pageButtonHeader
{
    float: right;
    position: relative;
    /*width: 72px;*/
	height: 24px;
    top: -22px;
    margin-bottom: -24px;
}

.sitemapHeader
{
    padding-top: 27px;
    border-bottom: 1px solid #d9d9d9;
    min-width: 110px;
}

.sitemapToolbar {
    margin: 0px 5px 14px 12px;
}

.sitemapToolbarButton
{
    float: left;
    width: 22px;
    height: 22px;
    border: 1px solid transparent;
}

#linksButton {
    background: url('http://dxlfb468n8ekd.cloudfront.net/gsc/LATDEU/e2/b0/f9/e2b0f9ca129f402d9981f5dfc26c2eed/plugins/sitemap/styles/images/share.png?token=fd344df5bf0c1a78f5381aacc03b6f9f') no-repeat center center;
    background: url('http://d2v8ggac1o0f6z.cloudfront.net/gsc/LATDEU/e2/b0/f9/e2b0f9ca129f402d9981f5dfc26c2eed/plugins/sitemap/styles/images/share.svg?token=e6788cda9a8a374ea2171f2d41c7ed13') no-repeat center center, linear-gradient(transparent,transparent);
}

#linksButton:hover {
    background: url('http://d2t44wh9rnwl5y.cloudfront.net/gsc/LATDEU/e2/b0/f9/e2b0f9ca129f402d9981f5dfc26c2eed/plugins/sitemap/styles/images/share_hover.png?token=a927e078beb86b5f2b827104f4f02f60') no-repeat center center;
    background: url('http://d26uhratvi024l.cloudfront.net/gsc/LATDEU/e2/b0/f9/e2b0f9ca129f402d9981f5dfc26c2eed/plugins/sitemap/styles/images/share_hover.svg?token=09532652916a4f27327c71a9e83859eb') no-repeat center center, linear-gradient(transparent,transparent);
}

#linksButton.sitemapToolbarButtonSelected, .hashover #linksButton.sitemapToolbarButtonSelected:hover {
    background: url('http://dxlfb468n8ekd.cloudfront.net/gsc/LATDEU/e2/b0/f9/e2b0f9ca129f402d9981f5dfc26c2eed/plugins/sitemap/styles/images/share_on.png?token=4c819285e7ea421c2d249d6febe9831e') no-repeat center center;
    background: url('http://d26uhratvi024l.cloudfront.net/gsc/LATDEU/e2/b0/f9/e2b0f9ca129f402d9981f5dfc26c2eed/plugins/sitemap/styles/images/share_on.svg?token=e147324331d1730ec8fc6e75d3fa8a66') no-repeat center center, linear-gradient(transparent,transparent);
}

#adaptiveButton {
    background: url('http://d2t44wh9rnwl5y.cloudfront.net/gsc/LATDEU/e2/b0/f9/e2b0f9ca129f402d9981f5dfc26c2eed/plugins/sitemap/styles/images/views.png?token=0cfa72fb4fbcbf6267eeb0d743e50dfb') no-repeat center center;
    background: url('http://dxlfb468n8ekd.cloudfront.net/gsc/LATDEU/e2/b0/f9/e2b0f9ca129f402d9981f5dfc26c2eed/plugins/sitemap/styles/images/views.svg?token=0e89b37f0c17fe4cef0d98310d4c6e26') no-repeat center center, linear-gradient(transparent,transparent);
}

#adaptiveButton:hover {
    background: url('http://dxlfb468n8ekd.cloudfront.net/gsc/LATDEU/e2/b0/f9/e2b0f9ca129f402d9981f5dfc26c2eed/plugins/sitemap/styles/images/views_hover.png?token=c176878bb17ab835bd2560de75ea9003') no-repeat center center;
    background: url('http://d2t44wh9rnwl5y.cloudfront.net/gsc/LATDEU/e2/b0/f9/e2b0f9ca129f402d9981f5dfc26c2eed/plugins/sitemap/styles/images/views_hover.svg?token=c3aef754578a242d017b3929a94c1892') no-repeat center center, linear-gradient(transparent,transparent);
}

#adaptiveButton.sitemapToolbarButtonSelected, #adaptiveButton.sitemapToolbarButtonSelected:hover {
    background: url('http://d2v8ggac1o0f6z.cloudfront.net/gsc/LATDEU/e2/b0/f9/e2b0f9ca129f402d9981f5dfc26c2eed/plugins/sitemap/styles/images/views_on.png?token=0eaa398f4062bc0ae1ba1eaa8c683c19') no-repeat center center;
    background: url('http://d2v8ggac1o0f6z.cloudfront.net/gsc/LATDEU/e2/b0/f9/e2b0f9ca129f402d9981f5dfc26c2eed/plugins/sitemap/styles/images/views_on.svg?token=bb155dc358a503e108d334a8e407acbd') no-repeat center center, linear-gradient(transparent,transparent);
}

#highlightInteractiveButton {
    background: url('http://dxlfb468n8ekd.cloudfront.net/gsc/LATDEU/e2/b0/f9/e2b0f9ca129f402d9981f5dfc26c2eed/plugins/sitemap/styles/images/hotspots.png?token=a518296e07892cb53ab8ac76b55cefae') no-repeat center center;
    background: url('http://dxlfb468n8ekd.cloudfront.net/gsc/LATDEU/e2/b0/f9/e2b0f9ca129f402d9981f5dfc26c2eed/plugins/sitemap/styles/images/hotspots.svg?token=f971ab22a3ae9c43c0e027d3b6f9722e') no-repeat center center, linear-gradient(transparent,transparent);
    margin-top: 1px;
}

#highlightInteractiveButton:hover {
    background: url('http://dxlfb468n8ekd.cloudfront.net/gsc/LATDEU/e2/b0/f9/e2b0f9ca129f402d9981f5dfc26c2eed/plugins/sitemap/styles/images/hotspots_hover.png?token=18676642a8279e31d289815abde16505') no-repeat center center;
    background: url('http://d26uhratvi024l.cloudfront.net/gsc/LATDEU/e2/b0/f9/e2b0f9ca129f402d9981f5dfc26c2eed/plugins/sitemap/styles/images/hotspots_hover.svg?token=b2a734473b79ed79351b55939b2236d2') no-repeat center center, linear-gradient(transparent,transparent);
}

#highlightInteractiveButton.sitemapToolbarButtonSelected, #highlightInteractiveButton.sitemapToolbarButtonSelected:hover {
    background: url('http://d2t44wh9rnwl5y.cloudfront.net/gsc/LATDEU/e2/b0/f9/e2b0f9ca129f402d9981f5dfc26c2eed/plugins/sitemap/styles/images/hotspots_on.png?token=63fe5f9a025c9105686a4d9738f2e669') no-repeat center center;
    background: url('http://d26uhratvi024l.cloudfront.net/gsc/LATDEU/e2/b0/f9/e2b0f9ca129f402d9981f5dfc26c2eed/plugins/sitemap/styles/images/hotspots_on.svg?token=1e1cd96e9da007dabc99f1f9d7409567') no-repeat center center, linear-gradient(transparent,transparent);
}

/*#variablesButton {
    background: url('http://d2v8ggac1o0f6z.cloudfront.net/gsc/LATDEU/e2/b0/f9/e2b0f9ca129f402d9981f5dfc26c2eed/plugins/sitemap/styles/images/229_variables_16.png?token=b7e6b668753c51265f341e08d77c6e9a') no-repeat center center;
}*/

#searchButton {
    background: url('http://d2t44wh9rnwl5y.cloudfront.net/gsc/LATDEU/e2/b0/f9/e2b0f9ca129f402d9981f5dfc26c2eed/plugins/sitemap/styles/images/232_search_16.png?token=1f8932fbbdb5c9a52c521680bac61625') no-repeat center center;
}

.sitemapLinkContainer
{
	margin-top: 8px;
	padding-right: 5px;
	/*font-size: 12px;*/
}

.sitemapLinkField 
{
	width: 100%;
	font-size: 12px;
	margin-top: 3px;
    padding: 5px;
}

.sitemapRadioSelected {
    font-weight: bold;
}

.sitemapOptionContainer
{
	margin-top: 8px;
	padding-right: 5px;
	/*font-size: 12px;*/
}

#sitemapOptionsDiv
{
	margin-top: 10px;
	/*margin-left: 16px;*/
}

#viewSelectDiv
{
    padding: 2px 0px 0px 0px;
	/*margin-left: 5px;*/
}

#viewSelect
{
	width: 70%;
}

.sitemapUrlOption
{
	padding-bottom: 8px;
}

.optionLabel
{
	font-size: 12px;
}

.sitemapPopupContainer
{
    display: none;
    position: absolute;
	background-color: #F4F4F4;
	border: 1px solid #B9B9B9;
	padding: 5px 5px 5px 5px;
	margin: 5px 0px 0px 5px;
    z-index: 1;
}

#sitemapLinksContainer {
    border-top: 1px solid #d9d9d9;
    padding: 10px;
    margin-left: 0px;
    /*line-height: 18px;*/
}

#adaptiveViewsContainer {
    border-top: 1px solid #d9d9d9;
    padding: 10px;
    margin-left: 0px;
    line-height: 18px;
}

.adaptiveViewOption
{
	padding: 2px;
}

.adaptiveViewOption:hover
{ 
	background-color: rgb(204,235,248);
	cursor: pointer;
}

.currentAdaptiveView {
    font-weight: bold;
}

.adaptiveCheckboxDiv {
	height: 15px;
	width: 15px;
	float: left;
}

.checkedAdaptive {
	background: url('http://d2v8ggac1o0f6z.cloudfront.net/gsc/LATDEU/e2/b0/f9/e2b0f9ca129f402d9981f5dfc26c2eed/plugins/sitemap/styles/images/adaptivecheck.png?token=edc6f77f8b58f5449b8ad7c4a3d46c94') no-repeat center center;
}

/*#variablesContainer 
{
	max-height: 350px;
	overflow: auto;
}*/

/*#variablesClearLink 
{
	color: #069;
	left: 5px;
}*/

#searchDiv {
    padding: 8px 12px 11px 12px;
}

#searchBox {
    width: 100%;
    border: none;
    border-top: 1px solid #d9d9d9;
    /*border-bottom: 1px solid #d9d9d9;*/
    padding: 5px;
    font-size: 12px;
}

.searchBoxHint 
{
	color: #8f949a;
	/*font-style: italic;*/
}

#sitemapLinksPageName
{
	font-weight: bold;
}

#sitemapOptionsHeader
{
	font-weight: bold;
}